﻿body {
    padding-top:37px;
    background-color:#E8E8E3;
    
}

.hiddencol { display: none; }

.jumbotron{
    background-color:#FFB50F;
    color:white;
}

.panel-heading{
    background-color:black;
    margin-top: 6em;
}


.panel-title{
    background-color:black;
    color:white;
}

.panel-body{
    margin-top: 4em;
    margin-left: 6em;
}

.imgClock{
    margin-top: 8em;
    color: white;
}

.center{
    text-align:center;
}

.right{
    float:right;
}
.left{
    float:left;
}

.panel-body{
    margin-top: 4em;
    align-content:center;
}

/* footer */

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    /*clear: left;*/
    text-align: center;
}

/*label de los mensajes de error*/
.labelMensajes {
    text-align:center;
    font-size:17px;
    color:#FF0000;
}

yes_button{
    background:#666666;
}